body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4ecd7 !important;
  font-size: large !important;
  /* prevent select any on page */
  /*
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  */
}

h1 {
  font-size: 30px !important;
}
h2 {
  font-size: 25px !important;
}

.container {
  background: silver;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-top: 20px;
  max-width: 1100px !important;
}

/*  
.App {
  text-align: center;
} */
/* 
.App-logo {
  height: 40vmin;
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #09d3ac;
} */

.row {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  overflow: hidden;
}

.col {
  border-radius: 5px;
  text-align: center;
  padding: 2px;
}
.col {
  border-right: 2px solid #ccc;
  padding-right: 18px;
  overflow: hidden;
}

.colBorder {
  border-right: 1px solid;
  /* padding: 10px; */
  overflow: hidden;
}

input {
  border-radius: 2px;
  padding: 2px;
  /* width: 100%; */
}

.inputOne {
  max-width: 70px;
}

.container {
  /* padding-top: 20px; */
  overflow: hidden;
}
   