body {
  /* background: #f4ecd7 */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.row {
  border: 2px solid #ccc;
  border-radius: 4px;
  padding: 4px;
}

.col {
  border-right: 2px solid #ccc;
  padding-right: 18px;
}

.colBorder {
  border-right: 1px solid;
  /* padding: 10px; */
  overflow: hidden;
}

input {
  border-radius: 2px;
  padding: 2px;
  width: 100%;
}

.inputOne {
  max-width: 70px;
}

.container {
  padding-top: 10px;
}